#content{
	padding:$content-margin 0px;
	border-bottom:1px solid #ccc;

	h1.page-title{
		margin-bottom:$content-margin;
	}

	.page-content{
		@include typography;	

		#contact-map{
			margin-bottom:$content-margin;
		}

		.featured-image{
			margin-bottom:$content-margin; 
			width:100%; height:auto;
		}
	}
}