#posts{
	padding:$content-margin 0px;
	border-bottom:1px solid #ccc;

	.col-sm-4{
		margin-bottom:30px;
		&:nth-child(3n+1){
			clear:left;
		}
	}

	a.the-post{
		display: block; text-decoration: none;
		img.post-thumb{
			width:100%; height: auto; margin-bottom:10px;
		}

		span.post-date{
			display: block;
		}
		span.post-title{
			display: block;
		}
	}

	ul.navigation{
		@include reset_ul; @include flex-space-between;
	}
}