
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=e11486c7f2f1cee9f8fc611451ea3c8d
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress