#header{
	position:relative; z-index:10;
	padding:$section_margin 0px;
	border-bottom:1px solid #ccc;

	a.logo{
		display: inline-block; 
		&:hover{
			opacity:0.8;
		}
	}

	ul.top-menu{
		@include reset_ul; @include flex-end; float:right;
		margin-top:130px;
		> li{
			position:relative; margin-left:30px;
			> a{
				color:#000;
			}

			&:hover{
				> a{
					color:orange; text-decoration: none;
				}

				ul.sub-menu{
					@include visible;
				}
			}

			&.current-menu-item, &.current-menu-parent{
				a{
					color:orange;
				}
			}

			ul.sub-menu{
				@include reset_ul; display: block;
				@include absolute(20px, auto, auto, 0px);
				width:100px; background-color:rgb(233, 233, 233);
				@include transition;
				@include hidden;

				li{
					padding:5px;
					a{
						color:#000; text-decoration: none;
					}

					&:hover, &.current-menu-item{
						a{
							color:orange;
						}
					}
				}
			}

			&:first-child{
				margin-left:0px;
			}
		}
	}

	.btn-mobile-menu{
		@include reset_button;
		float:right;
	}
}