//@import "custom_variables";
@import "helpers";
@import "desktop_first";
@import "_bootstrap.min.css";
@import "_font-awesome.min.css";
@import "hamburger/hamburgers";
@import "../js/slick/slick";

/*--- Site Specific Variables ---*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');
$font-roboto:'Roboto', sans-serif;
$fw-regular:400;
$fw-bold:900;
$color-black:#383838;


/*--- Global Styles ---*/
body, *{
	font-family: $font-roboto;
	color:$color-black;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font-roboto; margin:0px; padding:0px;
	font-weight:$fw-bold;
}

input, button, select, textarea, .form-control {
  	font-family: $font-roboto;
}

img{
	height:auto;
}


/*--- Buttons & Inputs ---*/
.form-control{
}


/*--- Mobile Menu ---*/
#menu{
	padding-top:30px;
	ul{
		margin:0px; padding:0px;
		li{
			list-style:none;
			a{
				display:block; color:$color-black; text-decoration:none;
				padding:10px 15px; border-bottom:1px solid lighten($color-black, 50%);
			}

			&:hover, &.current-menu-item, &.current-menu-parent{
				a{
					background-color:lighten($color-black, 50%);
				}
			}

			ul.sub-menu{
				li{
					a{
						padding-left:30px; background-color:lighten($color-black, 65%);
					}

					&:hover, &.current-menu-item{
						a{
							background-color:lighten($color-black, 50%);
						}
					}
				}
			}
		}
	}
}
.the-menu{
	display:none;
}


/*--- Header ---*/
#header{
	position:relative; z-index:100;
	padding:50px 0px 0px 0px;
	border-bottom:1px solid #ccc;
	a.logo{
		display:inline-block;
		margin-bottom:50px;
		img{
			@include border-radius(75px);
		}
	}

	ul.top-menu{
		margin:0px; padding:0px; @include flex; @include flex-center;
		margin-bottom:-1px;
		> li{
			position:relative;
			list-style:none; margin:0px 15px; 

			> a{
				display:inline-block; padding-bottom:10px; border-bottom:1px solid rgba($color-black, 0);
				font-size:16px; color:$color-black; text-decoration:none; text-transform:uppercase;
			}
			
			&:hover, &.current-menu-item, &.current-menu-parent{
				> a{
					border-bottom:1px solid rgba($color-black, 1);
				}
			}

			&:hover{
				ul.sub-menu{
					visibility:visible; opacity:1;
				}
			}

			ul.sub-menu{
				visibility:hidden; opacity:0;
				@include absolute(33px, auto, auto, 0px); 
				@include hover-transition;
				margin:0px; padding:0px;
				text-align:left;

				>li{
					list-style:none;
					width:200px; background-color:lighten($color-black, 70%);
					border-bottom:1px solid #ccc;
					
					>a{
						display:block; padding:10px 10px;
						font-size:16px; color:$color-black; text-decoration:none;
					}

					&:hover, &.current-menu-item{
						>a{
							background-color:lighten($color-black, 65%);
						}
					}
				}
			}
		}
	}

	.btn-mobile-menu{
		@include absolute(0px, auto, auto, 15px);
	}
}
// #header ends


/*--- Featured Posts ---*/
#featured-posts{
	padding:50px 0px 25px 0px; border-bottom:1px solid #ccc;

	.the-carousel{
		position:relative;
		.slick-prev, .slick-next{
			@include vertical-align; z-index:10; text-align:center;
			width:30px; height:30px; border:none; padding:0px;
			margin-top:-30px;
			background-color:#fff; border:1px solid $color-black;
			@include hover-transition;
			i.fa{
				font-size:20px;
			}

			&:hover{
				background-color:$color-black; 
				i.fa{
					color:#fff;
				}
			}
		}
		.slick-prev{
			left:0px;
		}
		.slick-next{
			right:0px;
		}

		a.the-post{
			display:block; text-align:center; text-decoration:none;
			img.post-thumb{
				width:100%; height:auto;
			}
			span.post-title{
				display:block; height:60px;
				margin-top:10px;
				font-size:20px; 
			}

			&:hover{
				opacity:0.8;
			}
		}
	}
}
// #featured-posts ends


/*--- Related Posts ---*/
#related-posts{
	padding:50px 0px 25px 0px; border-bottom:1px solid #ccc;

	h2{
		margin-bottom:30px;
	}

	.the-carousel{
		position:relative;
		.slick-prev, .slick-next{
			@include vertical-align; z-index:10; text-align:center;
			width:30px; height:30px; border:none; padding:0px;
			margin-top:-30px;
			background-color:#fff; border:1px solid $color-black;
			@include hover-transition;
			i.fa{
				font-size:20px;
			}

			&:hover{
				background-color:$color-black; 
				i.fa{
					color:#fff;
				}
			}
		}
		.slick-prev{
			left:0px;
		}
		.slick-next{
			right:0px;
		}

		a.the-post{
			display:block; text-align:center; text-decoration:none;
			img.post-thumb{
				width:100%; height:auto;
			}
			span.post-title{
				display:block; height:60px;
				margin-top:10px;
				font-size:20px; 
			}

			&:hover{
				opacity:0.8;
			}
		}
	}
}
// #related-posts ends


/*--- Comments ---*/
#comments{
	padding:50px 0px 50px 0px; border-bottom:1px solid #ccc;

	h2{
		margin-bottom:30px;
	}
}
// #comments ends


/*--- Posts ---*/
#posts{
	padding:50px 0px; border-bottom:1px solid #ccc;

	h1.page-title{
		margin-bottom:30px;
	}

	h2{
		margin-bottom:30px;
	}

	a.the-post{
		display:block; text-align:center; text-decoration:none;
		margin-bottom:40px;
		img.post-thumb{
			width:100%; height:auto;
		}
		span.post-title{
			display:block;
			margin-top:10px;
			font-size:20px; 
		}
		span.post-date{
			display:block;
			margin-top:10px;
			font-size:14px; color:#ccc;
		}

		&:hover{
			opacity:0.8;
		}
	}

	.col-sm-4:nth-child(3n+1){
		clear:left;
	}

	ul.navigation{
		margin:50px 0px 0px 0px; padding:0px; @include flex; @include flex-space-between;
		li{
			list-style:none;
			a{
				display:inline-block; text-align:center;
				width:130px; height:50px; border:none; padding:0px;
				background-color:#fff; border:1px solid $color-black;
				font-size:16px; line-height:50px; color:$color-black; text-decoration:none;
				@include hover-transition;

				&:hover{
					background-color:$color-black;
					color:#fff; 
				}

				&.older-posts{
				}
				&.newer-posts{
				}
			}
		}
	}
}
// #posts ends


#content{
	padding:50px 0px; border-bottom:1px solid #ccc;

	h1.page-title{
		margin-bottom:30px;
	}

	.featured-image{
		width:100%; height:auto; margin-bottom:50px;
	}

	.page-content{
		@include typography;
	}
}
// #content ends


#footer{
	padding:30px 0px 15px 0px;

	ul.footer-menu{
		margin:0px; padding:0px; @include flex; @include flex-start;
		li{
			list-style:none; margin-right:30px;
			a{
				text-decoration:none; color:$color-black;
				&:hover{
					opacity:0.8;
				}
			}

			&:last-child{
				margin-right:0px;
			}
		}
	}

	ul.social-media-menu{
		margin:0px; padding:0px; @include flex; @include flex-end;
		li{
			list-style:none; margin-left:30px;
			a{
				text-decoration:none; color:$color-black; font-size:16px;
				i{
				}

				&:hover{
					opacity:0.8;
				}
			}

			&:first-child{
				margin-left:0px;
			}
		}
	}

	.copyright{
		margin-top:30px;
	}
}
// #footer ends