// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');
$font-roboto:'Roboto', sans-serif;
$fw-regular:400;
$fw-bold:900;


// Colors
$main_color:#000;

// Spacings
$section_margin:30px;
$content-margin: 20px;
$img-margin: 20px;