
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=b648a9bf5d4d530e7b19e8ee8392dbfd
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress