//------- Helper Classes --------//
.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}

.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
}

.relative{
	position:relative;
}

.overflow{
  	overflow:hidden;
}

.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;} /* IE < 8 */


//------- Mixins --------//
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
	background-clip: padding-box;
}

@mixin opacity($opacity: 0.5) {
    filter:         alpha(opacity=($opacity * 100));
    -ms-filter:     "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + ($opacity * 100) + ")";
    -moz-opacity:   $opacity;
    -khtml-opacity: $opacity;
    opacity:        $opacity;
}

@mixin absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
	position: absolute;
}

@mixin background-gradient($startColor: #3C3C3C, $endColor: #999999) {
    background-color: $startColor;
    background-image: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
    background-image: -webkit-linear-gradient(top, $startColor, $endColor);
    background-image:    -moz-linear-gradient(top, $startColor, $endColor);
    background-image:     -ms-linear-gradient(top, $startColor, $endColor);
    background-image:      -o-linear-gradient(top, $startColor, $endColor);
    background-image:         linear-gradient(top, $startColor, $endColor);
    filter:            progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', endColorStr='#{$endColor}');
}

@mixin box-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4), $inset: "") {
  	@if ($inset != "") {
	    -webkit-box-shadow: $inset $x $y $blur $color;
	    -moz-box-shadow:    $inset $x $y $blur $color;
	    box-shadow:         $inset $x $y $blur $color;
  	} @else {
	    -webkit-box-shadow: $x $y $blur $color;
	    -moz-box-shadow:    $x $y $blur $color;
	    box-shadow:         $x $y $blur $color;
  	}
}

@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
    text-shadow: $x $y $blur $color;
}

@mixin transition($what: all, $length: 1s, $easing: ease-in-out) {
    -moz-transition:    $what $length $easing;
    -o-transition:      $what $length $easing;
    -webkit-transition: $what $length $easing;
    -ms-transition:     $what $length $easing;
    transition:         $what $length $easing;
}

@mixin vertical-align-table {
    display: table-cell; vertical-align:middle;
}

@mixin vertical-align {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

@mixin flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-start{
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

@mixin flex-end{
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

@mixin flex-center{
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

@mixin flex-space-between{
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

@mixin flex-space-around{
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

@mixin hover-transition($sec: .25s, $effect:ease-in-out){
    -webkit-transition: all $sec $effect;
    -moz-transition: all $sec $effect;
    -ms-transition: all $sec $effect;
    -o-transition: all $sec $effect;
    transition: all $sec $effect;
}


//------- Normalize --------//
body, html{
  	height:100%;
}

input{
	line-height:normal;
}

*:focus, a:focus, a:active {
  	outline: none; color:inherit; text-decoration:inherit;
}

br{
	font-size:inherit; line-height:inherit;
}

section{
    display:block;
}

img {
  max-width: 100%;
}

a{
	@include hover-transition;
}

i{
	color:inherit; font-size:inherit;
}

/*--- Typography ---*/
$content-margin: 20px;
@mixin typography{
	h1{
		margin-bottom: $content-margin;
	}
	h2{
		margin-bottom: $content-margin;
	}
	h3{
		margin-bottom: $content-margin;
	}
	h4{
		margin-bottom: $content-margin;
	}
	h5{
		margin-bottom: $content-margin;
	}
	h6{
		margin-bottom: $content-margin;
	}
	.alignnone {
	    margin: 0px 0px $content-margin 0px;
	}
	.aligncenter,
	div.aligncenter {
	    display: block;
	    margin: 0px auto $content-margin auto;
	}
	.alignright {
	    float:right;
	    margin: 0px 0px $content-margin $content-margin;
	}
	.alignleft {
	    float: left;
	    margin: 0px $content-margin $content-margin 0px;
	}
	a img.alignright {
	    float: right;
	    margin: 0px 0px $content-margin $content-margin;
	}
	a img.alignnone {
	    margin: 0px 0px $content-margin 0px;
	}
	a img.alignleft {
	    float: left;
	    margin: 0px $content-margin $content-margin 0px;
	}
	a img.aligncenter {
	    display: block;
	    margin-left: auto;
	    margin-right: auto
	}
	img{
		height:auto;
	}
	p{
		margin-bottom: 20px;
	}
	ul, ol{
		margin:0px 0px $content-margin 0px; padding:0px 0px 0px 20px; overflow:hidden;
	}
	a{
		color:$color-black; text-decoration:underline;
	}
	a:hover{
		text-decoration: none;
	}

	p{
		margin:0px 0px $content-margin 0px;
	}

	blockquote{
		margin:0px 0px $content-margin 0px;
		p:last-child{
			margin-bottom:0px;
		}
	}
}

/*--- Common proctice to hide slider and show it when its fully loaded */
.the-carousel { display: none; } 
.the-carousel.slick-initialized { display: block; }


/*--- Slideout Menu Styles ---*/
#panel{

}
#menu{
	background-color:#ccc;
}

.slideout-menu {
  	position: fixed;
  	top: 0;
  	bottom: 0;
  	width: 256px;
  	min-height: 100vh;
  	overflow-y: scroll;
  	-webkit-overflow-scrolling: touch;
  	z-index: 0;
  	display: none;
}

.slideout-menu-left {
  	left: 0;
}

.slideout-menu-right {
  	right: 0;
}

.slideout-panel {
	position: relative;
	z-index: 1;
	will-change: transform;
	background-color: #FFF; /* A background-color is required */
	min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  	overflow: hidden;
}

.slideout-open .slideout-menu {
  	display: block;
}