@import "helpers";
@import "desktop_first";
@import "_bootstrap.min.css";
@import "_font-awesome.min.css";

/*--- Site Specific Variables ---*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');
$font-roboto:'Roboto', sans-serif;
$fw-regular:400;
$fw-bold:900;
$color-black:#383838;


/*--- Global Styles ---*/
body, *{
	font-family: $font-roboto;
	color:$color-black;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font-roboto; margin:0px; padding:0px;
	font-weight:$fw-bold;
}

input, button, select, textarea, .form-control {
  	font-family: $font-roboto;
}

#tinymce{
	padding:15px !important;
	@include typography;
	
	img[data-wp-more]{
		height:16px;
	}
}

// #tinymce ends